
// First Attempt
// $primary:        #F06449;
// $primary-darker: #EE4F2F;
// $primary-darkest:#BD2C0F;
// $secondary:      #191924;
// $tertiary:       #3B8EA5;
// $hover-contrast: #FFD046;
// $plain-text:     #F8FFE5;

// https://coolors.co/f05f42-f2efea-3b8ea5-403d58-dbd56e
$primary:        #F06449;
$primary-darker: #EE4F2F;
$primary-darkest:#E23512;
$secondary:      #403D58;
$tertiary:       #3B8EA5;
$hover-contrast: #DBD56E;
$plain-text:     #F2EFEA;