// $primary-orange: #EF2D56;
// $primary-orange-darker: #EF2D56;
// $primary-orange-darkest: #EF2D56;
// $secondary-blue: #37392E;
// $teritiary-cyan: #19647E;
// $pizzi-gold: #28AFB0;
// $plain-text: #F8FFE5;
$primary-orange: #F06449;
$primary-orange-darker: #EE4F2F;
$primary-orange-darkest: #BD2C0F;
$secondary-blue: #191924;
$teritiary-cyan: #3B8EA5;
$pizzi-gold: #FFD046;
$plain-text: #F8FFE5;